# Ignore virtual environment
venv/

# Ignore secrets file
secrets.json
token.pickle
credentials.json

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Editor folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
